.pagination-container {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}


.pagination-item {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #333;
}

.pagination-item:hover {
    background-color: #c0c0c0;
}

.pagination-item.break {
    margin: 0 5px;
}

.pagination-item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.selected {
    background-color: orange;
    color: #fff;
}

@media (max-width: 600px) {
    .pagination-item {
        padding: 8px;
        margin: 3px;
        font-size: 14px;
    }
}